<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ic.PNG') }}" type="image/x-icon">
    <title>WC-register</title>
</head>
<body>
    <div class="wrapper">
        <h2>Hello , My name is Shayan 👋</h2>
        <div>
            <span style="padding-right: 15px;">here we want to wc a lot</span>
            <a id="link" class="button">Try Now</a>
        </div>
    </div>
</body>
<script>
    link = document.getElementById("link");
    link.setAttribute("href",window.location.href+"reg")
</script>
</html>