<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ic.PNG') }}" type="image/x-icon">
    <title>WC-register</title>
</head>
<body>
    <p>hello my name is shayan <br>here we want to wc a lot<br>so please go to the register page and get your <b>wc-id</b></p>
    <br>
    <a id="link">register page</a>
    
</body>
<script>
    link = document.getElementById("link");
    link.setAttribute("href",window.location.href+"reg")
</script>
</html>