<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ic.PNG') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR-PAGE</title>
</head>
<body>
    <div class="wrapper">
        <h2>You can take a screenshot <br> or just download it !</h2>
        <span style="display: block;">You are number <span class="blue-highlight">{{ id }}</span> in queue</span>
        <div class="image-wrapper">
            <img id="i" src="{{ i }}" alt="qr code">
        </div>
        <button onclick="down()" class="button">download</button>
    </div>
</body>
<script>
    function down(){
        var im = document.getElementById("i");
        var a = document.createElement("a");
        a.href = im.getAttribute("src");
        a.download = "qr.png";
        a.click();
    }
</script>
</html>