<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='ic.PNG') }}" type="image/x-icon">
    <!-- <link rel="stylesheet" href="/js/alert/css/alertify.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/js/alert/css/alertify.css') }}">
    <!-- <link rel="stylesheet" href="/js/alert/css/alertify.min.css">

    <script src="/js/alert/alertify.js"></script> -->
    <script src="{{ url_for('static', filename='/js/alert/alertify.js') }}"></script>
    <script src="{{ url_for('static', filename='/js/axios.min.js') }}"></script>
    <!-- <script src="/js/alert/alertify.min.js"></script> -->
    <title>Register WC</title>
</head>
<body>
   <div class="wrapper">
        <div class="input-wrapper">
            <label for="fname">first name:</label>
            <input id="fname" type="text" placeholder="michael">
        </div>
        <div class="input-wrapper">
            <label for="lname">last name:</label>
            <input id="lname" type="text" placeholder="jackson">
        </div>

        <button onclick="ok()" class="okbtn button">Create</button>
   </div>
</body>
<script>

    function ok(){
        //window.alert(document.getElementById("fname"))
        fv = document.getElementById("fname").value;
        lv = document.getElementById("lname").value;
        if(fv != "" && lv != ""){
            //const axios = require('axios').default;
            axios.get(window.location.href+"/check",{params:{
                fn : fv,
                ln : lv
            }})
             .then(function (response) {
                if (response.data == "2"){
                    alertify.error('Names are repaeted');
                }else{
                    window.location.href = window.location.href.slice(0,-3)+"qrcode?fname="+fv+"&lname="+lv; 
                }
             })
             .catch(function (error) {
                   console.log(error);
             })
             .then(function () {
    // always executed
            });  

            //console.log(rt);
            }
            else{ alertify.error('Fildes are empty'); }    

            
        }
        
         //window.history.replaceState("", '', '/qrcode?fname='+document.getElementById("fname").value+"&lname="+document.getElementById("lname").value);  
    
    document.getElementById("lname").addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
        ok()
    }
});

</script>
</html>